

.plot-area {
    fill: #f6f6f6;
}

.horizontal-ruler, .vertical-ruler {
    stroke: #e1e1e1;
    fill: "none";
    stroke-width: 1px;
}

.x-axis-ticks, .y-axis-ticks {
    font-size: 12px;
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
}

.line {
    stroke-width: 1;

}

/** Line Styles  **/
.solid-line-style {  }
.dashed-line-style { stroke-dasharray: 6, 3; }
.dash-dot-line-style { stroke-dasharray: 6, 3, 2, 3; }
.dotted-line-style { stroke-dasharray: 2, 3; }

/** Marker Styles  **/
.circle-marker, .square-marker, .plus-marker, .x-marker,
.one-marker, .two-marker, .three-marker, .four-marker,
.diamond-marker, .thin-diamond-marker,
.horizontal-line-marker, .vertical-line-marker{
    stroke-width: 1px;
    fill:none;
}

.point-marker {
    stroke-width: 1px;
}